body {
  margin: 0;
  padding: 0;

  font-family: "Lora";
  background-color: rgba(192, 170, 170, 0.678);
}

.container {
  text-align: center;
}
.btn {
  border: 1px solid salmon;
  background: rgb(201, 90, 77);
  padding: 10px 20px;
  width: 3cm;
  font-size: 20px;
  font-family: "montserrat";
  font-weight: 200;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  color: white;
}
.btn:hover {
  color: black;
  height: 0%;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.8s;
  color: salmon;
  top: 0;
  border-radius: 50% 50% 0 0;
}

.footer {
  background-color: black;
  margin-top: 5%;
  color: white;
  text-align: center;
}
#grad {
  background-image: linear-gradient(to bottom right, black, grey);
}
